# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Build/output
dist/
build/

# Coverage
coverage/

public/video.mp4
public/pdf.pdf
